p If you have the Kai Discipline of Hunting, 
  a(href='204') turn to 204.

p If you have the Kai Discipline of Animal Kinship, 
  a(href='318') turn to 318.

p Otherwise, leave the tent and attack the Baknar by 
  a(href='78') turning to 78.
