section
  p Tour 1: Vous faites face à la bête, voulez vous attaquer ?
  p Vous frappez avec 10 d'habileté, clickez pour obtenir le bonus de dés "click"
  p Vous infligez x blessures à Baknar
  p Continuer de combattre ? Oui | Non 
