section(class='combat')
  h3 Combat :
  p Tour 1: Vous faites face à la bête

  fieldset(class='choixCombat')
    legend Que choisissez vous ?
    button(type='button', id='attaquer') attaquer
    button(type='button', id='fuir') fuir
