nav
  ul
    li
      a.bouttonAcceuil(href='/') Accueil
    li
      a.bouttonNouveauPersonnage(href='/nouveauPersonnage') Création d'un nouveau personnage
    li
      a.bouttonAide(href='/aide') Aide !
