nav
  ul
    li
      a(href='/', class='bouttonAccueil') Accueil
    li
      a(href='/nouveauPersonnage', class='bouttonNouveauPersonnage') Création d'un nouveau personnage
    li
      a(href='/aide', class='bouttonAide') Aide !
