extends layout

block content
  p orsqu'on débute le jeu, trois valeurs sont générées aléatoirement. La première, que nous app ellerons p oints d'HABILETÉ, comprise entre 10 et 19, dét
  p
    a(href='nouveauPersonnage') Yipiyaye
