doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Lone Wolf
    
    include ./header.jade

    block content
   
    include ./footer.jade
