extends layout

block content
  section(class='creation_personnage')
    form
      label(for='nomPersonnage') Nom du personnage
      input(type='text' id='nomPersonnage')
      
      fieldset
        legend Choisissez vos 5 disciplines Kai
        
        label(for='camouflage') Le Camouflage
        input(type='checkbox' name='kai' value='camouflage' id='camouflage')
  
        label(for='chasse') La Chasse
        input(type='checkbox' name='kai' value='chasse' id='chasse')
  
        label(for='sixieme_sens') Sixième Sens
        input(type='checkbox' name='kai' value='sixieme_sens' id='sixieme_sens')
  
        label(for='orientation') L'Orientation
        input(type='checkbox' name='kai' value='orientation' id='orientation')
  
        label(for='guerison') La Guérison
        input(type='checkbox' name='kai' value='guerison' id='guerison')
  
        label(for='maitrise_des_armes') La Maîtrise des Armes
        input(type='checkbox' name='kai' value='maitrise_des_armes' id='maitrise_des_armes')
  
        label(for='bouclier_psychique') Bouclier Psychique
        input(type='checkbox' name='kai' value='bouclier_psychique' id='bouclier_psychique')
  
        label(for='puissance_psychique') Puissance Psychique
        input(type='checkbox' name='kai' value='puissance_psychique' id='puissance_psychique')
  
        label(for='communication_animale') Communication Animale
        input(type='checkbox' name='kai' value='communication_animale' id='communication_animale')
  
        label(for='maitrise_psychique_de_la_matiere') Maîtrise Psychique de la Matière
        input(type='checkbox' name='kai' value='maitrise_psychique_de_la_matiere' id='maitrise_psychique_de_la_matiere')
  
      br
      fieldset
        legend Choisissez vos 2 objets :      
        - for (var i = 1; i < 3; i++) {
        label(for='objet'+i) Objet #{i}
        select
          option(value='epee') Épée
          option(value='sabre') Sabre
          option(value='lance') Lance
          option(value='masse_darme') Masse d'armes
          option(value='marteau_de_guerre') Marteau de guerre
          option(value='hache') Hâche
          option(value='baton') Bâton
          option(value='glaive') Glaive
          option(value='gilet_de_cuir_matelasse') Gilet de cuir matelassé
          option(value='potion_de_lampsur') Potion de Lampsur
          option(value='rations_speciales') Rations spéciales
        - }
        
    p
      a(href='/page/1') Commencer le jeu
