extends layout

block content
  form
    
    //
      for (var key in ['nomPersonnage',') {
        var value = array[key];
        console.log(value);
      }
    
    label(for='nomPersonnage') Nom du personnage
    input(type='text' id='nomPersonnage')
    
  p
    a(href='/page/1') ENFIN
