extends layout

block content
  section.characterCreation
    form(action="nouveauPersonnage" method="post")
      div.characterName
        label(for='nomPersonnage') Nom du personnage
        input(type='text' name='nomPersonnage' id='nomPersonnage')
      
      fieldset.kaiFieldSet
        legend Choisissez vos 5 disciplines Kai
        
        table
          tr
            td
              label(for='camouflage') Le Camouflage
              input(type='checkbox' name='kai' value='camouflage' id='camouflage')
            td
              label(for='chasse') La Chasse
              input(type='checkbox' name='kai' value='chasse' id='chasse')
          tr
            td
              label(for='sixiemeSens') Sixième Sens
              input(type='checkbox' name='kai' value='sixiemeSens' id='sixiemeSens')
            td
              label(for='orientation') L'Orientation
              input(type='checkbox' name='kai' value='orientation' id='orientation')
          tr
            td
              label(for='guerison') La Guérison
              input(type='checkbox' name='kai' value='guerison' id='guerison')
            td
              label(for='maitriseDesArmes') La Maîtrise des Armes
              input(type='checkbox' name='kai' value='maitriseDesArmes' id='maitriseDesArmes')
          tr
            td
              label(for='bouclierPsychique') Bouclier Psychique
              input(type='checkbox' name='kai' value='bouclierPsychique' id='bouclierPsychique')
            td
              label(for='puissancePsychique') Puissance Psychique
              input(type='checkbox' name='kai' value='puissancePsychique' id='puissancePsychique')
          tr
            td
              label(for='communicationAnimale') Communication Animale
              input(type='checkbox' name='kai' value='communicationAnimale' id='communicationAnimale')
            td
              label(for='maitrisePsychiqueDeLaMatiere') Maîtrise Psychique de la Matière
              input(type='checkbox' name='kai' value='maitrisePsychiqueDeLaMatiere' id='maitrisePsychiqueDeLaMatiere')

      br
      fieldset.objectSelectionFieldSet
        legend Choisissez vos 2 objets
        table
          tr
            - for (var i = 1; i < 3; i++) {
            td
              label(for='object'+i) Objet #{i} :
              select(class='object'+i name='objet'+i)
                option(value='epee') Épée
                option(value='sabre') Sabre
                option(value='lance') Lance
                option(value='masseDArme') Masse d'armes
                option(value='marteauDeGuerre') Marteau de guerre
                option(value='hache') Hâche
                option(value='baton') Bâton
                option(value='glaive') Glaive
                option(value='giletDeCuirMatelasse') Gilet de cuir matelassé
                option(value='potionDeLampsur') Potion de Lampsur
                option(value='rationsSpeciales') Rations spéciales
              - }
        
      input(type="submit" value="Commencer le jeu")
