p In the northern land of Sommerlund, it had been the custom for many centuries to send the children of the Warrior Lords to the monastery of Kai. There they were taught the skills and disciplines of their noble fathers.

p You are Lone Wolf, and you are now the last of the Warrior Lords of Sommerlund. One year ago, the ancient enemy of your people—the Darklords of Helgedad—suddenly invaded Sommerlund and completely devastated the Kai Monastery. All of the Kai warriors were in attendance for the feast of Fehmarn, and all except you were massacred.

p You fought your way to Holmgard, the capital of your country, where the King sent you upon a desperate quest for help. Your mission was fraught with great danger, for Sommerlund had been betrayed by one of its own magicians—Vonotar the Traitor. His agents sought to kill you at every opportunity, but your skill and strength defeated their evil aims. You returned to Holmgard at the head of a great fleet—the allies of Durenor—and destroyed the Darklord army that besieged your capital.

p Much of Sommerlund was ruined by the war. The rich farmlands were laid waste and many towns were razed to the ground. But the Sommlending are a tough people and were undaunted by the enormous task that lay ahead. They set about the rebuilding of war-torn Sommerlund with such determination that now, one year later, few of the scars of war remain visible.

p For the crucial part that you played in the victory, the King has bestowed upon you the rank and title of ‘Fryearl of Sommerlund’, a rare honour for one so young. The ruins of the Kai Monastery and much of the surrounding lands are now ‘Fryelund’ under your protection.

p Work to rebuild the monastery was about to commence when disturbing news from the north prompted the King to summon you to the capital. Many merchants, returning from the summer trading expeditions to Kalte, told of the fall of the Brumalmarc—the leader of the Ice Barbarians. The description of the hunchbacked magician who has succeeded the fierce Brumalmarc fits only one man—Vonotar the Traitor.

p After the defeat of the Darklords, Vonotar escaped to the frozen wastes of Kalte. He made his way to the ice fortress of Ikaya where, through deception, he tricked the cruel Brumalmarc into adopting him as his magician. It was a mistake that was to cost the barbarian leader his fortress and his life.

p The news that Vonotar still lives spreads like wildfire throughout Sommerlund. Thousands of Sommlending surround the capital and demand that Vonotar be made to pay for his treachery. So great is the outcry that the King is obliged to promise that the evil traitor will be brought back to Holmgard, and made to stand trial for his crimes.

p For you, Lone Wolf, the King’s promise is the start of a quest that will pit you against a hated foe, deep within the hostile Caverns of Kalte.


