body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    
    text-align: center;
    
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
}

