body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;

    text-align: center;

		max-width: 800px;
		margin: 40px auto;
    padding: 0 10px;
    height: 100%;
}

body.conteneur {
    min-height: 100%;
    height: 100%;
}

body section {
  /*text-align: justify;*/
  text-align: center;
}

body section h2{
  text-align: center;
}
