section.contenu {
    #clear: left;
		float: left;
		width: 70%;
}

section.contenu img {
    #TODO aligner horizontalement images
}

section.contenu p:first-of-type::first-letter {
    font-family: cursive;
    font-size: xx-large;
}

/*
Maintenant pour toutes les sections (body.css)
section.contenu {
  text-align: justify;
}
*/

a.ilFautCliquer {
    text-decoration: none;
    font-weight: bold;

    transition: background-color 0.3s ease;
}

a.ilFautCliquer:link {
    color: red;
}

a.ilFautCliquer:visited {
    color: green;
}

a.ilFautCliquer:active {
    background-color: rgba(0, 214, 63, 0.34);
}
