@import url('/stylesheets/nav.css');

h1 {
    font-size: 50px;
    text-align: center;
      
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.3s;
}

h1:hover {
    transform: perspective(1000px) rotateY(-30deg);
    transition: transform 0.3s;
}
