nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #EAF1F1;
    display: inline-block;
}

nav ul li {
    border: 1px solid black;   float: left;      
    margin: 5px 10px;
    border-radius: 5px;
    transition: transform 0.2s;
}

nav ul li {
    transition: width 2s;
}

nav ul li:hover {
    background-color: #96CAD6;
    transform: scale(1.03);
}

nav ul li a {
    color: black;   
    display: block;
    padding: 10px;
    text-decoration: none;
}

body.accueil a.bouttonAccueil{
    background-color:#A76F6F;
}

body.nouveauPersonnage a.bouttonNouveauPersonnage{
    background-color:#A76F6F;
}

body.aide a.bouttonAide{
    background-color:#A76F6F;
}

