nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #EAF1F1;
    display: inline-block;
}

nav ul li {
    border: 1px solid black;   float: left;      
    margin: 5px 10px;
    border-radius: 5px;
    transition: transform 0.2s;
}

nav ul li a {
    color: black;   
    display: block;   padding: 10px;   text-decoration: none;
    transition: width 2s;
}

nav ul li a:hover {
    background-color: #96CAD6;
}

nav ul li:hover {
    transform: scale(1.03);
}

