div#objetsSpeciaux{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    visibility: hidden;

    opacity: 0;
    transition: all 0.5s ease;
}

div#objetsSpeciaux:target{
    visibility: visible;
    opacity: 1;
}

div#objetsSpeciaux a {
    background-color: rgba(0, 0, 0, 0.25);

    height: 100%;
    width: 100%;
    display: block;
}

div#objetsSpeciaux div {
    color: rebeccapurple;
    background-color: antiquewhite;

    left: 40%;
    top: 30%;

    position: absolute;
}

div#objetsSpeciaux div p {
    font-size: 3em;
    margin: 5px 10px;
}

div#objetsSpeciaux div ul li {
    list-style: none;
    font-size: 2em;
    text-align: left;
}
