section.scrollable {
	position: fixed;
	/* display: inline; */
	margin: 0px 20px;
	padding: 10px;
	/* text-align: center; */
	width: 30%;
	font-size: 0.9em;
	
	left: 65%;
}

section.pageDeJeu {
}

section.pageDeJeu ul {
	list-style-type: none;
	text-align: left;
}

section.historique {
}

section.scrollable {
}
