section.scrollable {
	position: fixed;
    display: inline;
    margin: 0px 20px;
	padding: 10px;
	text-align: center;
    width: 30%;
    font-size: 15px;
}

section.pageDeJeu {
}

section.pageDeJeu ul {
	list-style-type: none;
	text-align: left;
}

section.historique {
}

