p   You hide the body under the staircase and quickly search it. You discover a Bone Sword and a Blue Stone Disc. If you wish to keep either or both of these items, select them on the form bellow. You leave the body and run quickly up the stairs.
section(class="choix")
    fieldset
        legend Choisissez les objets à conserver
        label(for='boneSword') Bone Sword
        input(type='checkbox' name='choixItem' value='boneSword' id='boneSword')
        label(for='blueStoneDisc') Blue Stone Disc
        input(type='checkbox' name='choixItem' value='blueStoneDisc' id='blueStoneDisc')
    a(href="331") Turn to 331

