div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous tirez un chiffre entre 0 et 3, #[a(href="/jeu/57") rendez-vous au 57].
        p Entre 4 et 6, #[a(href="/jeu/188") rendez-vous au 188].
        p Entre 7 et 9, #[a(href="/jeu/331") rendez-vous au 331].
