
section#combat
    div#monstre
        span#nomMonstre Languabarb:
        | HABILETÉ
        span#monstreAttaque 11
        | ENDURANCE
        span#monstreEndurance 35

    div.rondeCombat
        div
            | Ronde combat:
            span 1
        div
            p Ratio de combat: 20
            p Chiffre aléatoire: 6
        div
            p Ton ennemi a obtenu 11 dégâts -
            p et a maintenant 39 point d'ENDURANCE.
        div
            p Lone Wolf a eu 2 dégâts -
            p et a maintenant 18 points d'ENDURANCE.

    div.rondeCombat
        div
            | Ronde combat:
            span 2
        div
            p Ratio de combat: 20
            p Chiffre aléatoire: 4
        div
            p Ton ennemi a obtenu 5 dégâts -
            p et a maintenant 34 point d'ENDURANCE.
        div
            p Lone Wolf a eu 5 dégâts -
            p et a maintenant 13 points d'ENDURANCE.

    div#choixCombat
        button#combattre.button COMBATTRE
        button#fuir.button FUIR
