p The equipment is quickly unpacked and distributed among you. Your share is enough food for 3 Meals, Sleeping Furs, and a Rope. Remember to&nbsp;
  a(href="#clique1" class="ilFautCliquer" id"clique1") mark these on your Action Chart
  , and note that Sleeping Furs take up the same amount of room as two normal items in your Backpack.

p You cannot take the Kanu-dogs with you across the mountains, and you are forced to abandon them here with the sledges. A rope is secured to each person and you set off towards a narrow pass between the dark and sullen peaks. At first, the climb is quite easy; but soon the smooth ice becomes steep and difficult to cross. A wind rises that piles drifts of loose snow against the broken ice, and visibility is quickly reduced to a few yards. The drifts are deceptive and often deep. On two occasions, you sink up to your chest and have to be dug out by the others.

p That night, the tent is erected on a table of ice-covered granite overhanging a deep ravine. You are exhausted and almost fall asleep over your evening Meal. (Remember to&nbsp;
  a(href="#clique2" class="ilFautCliquer" id"clique2") deduct this Meal from your Action Chart
  ).

p ‘Do you understand any of the Ice Barbarian language?’ asks Dyce, trying to stimulate conversation. ‘Myjavik is one of the few Ice Barbarian words I know.’

p When you ask him what it means, he pauses before answering you. ‘Terror … “Myjavik” means terror.’

p Suddenly there is a tremendous noise outside the tent. It sounds like the roar of a large animal.

p If you wish to draw your weapon and investigate the noise, <a href="180">turn to 180.</a>

p If you prefer to hold your breath and keep as still as possible, <a href="259">turn to 259.</a>
