p   You hide the body under the staircase and quickly search it. You discover a Bone Sword and a Blue Stone Disc. If you wish to keep either or both of these items, select them on the form bellow. You leave the body and run quickly up the stairs.
