section.choix
    fieldset
        legend Choisissez les objets à conserver
        label(for='boneSword') Bone Sword
        input(type='checkbox' name='choixItem' value='boneSword' id='boneSword')
        label(for='blueStoneDisc') Blue Stone Disc
        input(type='checkbox' name='choixItem' value='blueStoneDisc' id='blueStoneDisc')
    a(href="331") Turn to 331

